<div *ngIf="person" class="sidebar">
  <img class="rounded-circle" src="{{person.profilPicture}}" alt="photo profil">
  <div class="container info"> 
      <p class="name">{{person.firstname |uppercase}}  {{person.lastname |uppercase}}</p>
      <p><i class="fas fa-home"></i> {{person.street | titlecase}}</p>
      <p>{{person.postcode}}  {{person.city | uppercase}}</p> 
      <p><i class="fas fa-phone"></i> 0{{person.phone}}</p>
      <p><i class="fas fa-at"></i> {{person.email}}</p>
  </div>
  <hr>
  <div class="link">
  <a routerLink="/home"><i class="fas fa-home"></i> Accueil</a>
  <a routerLink="/detail/{{person.id}} "><i class="fas fa-user-circle"></i> Présentation</a>
  <a routerLink="/detail/{{person.id}}/experiences"><i class="fas fa-project-diagram"></i> Parcours</a>
  <a routerLink="/detail/{{person.id}}/education"><i class="fas fa-graduation-cap"></i> Formation</a>
  <a routerLink="/detail/{{person.id}}/skills"><i class="fas fa-desktop"></i> Compétences</a>
  <a routerLink="/detail/{{person.id}}/hobbies"><i class="fas fa-hiking"></i> Hobbies</a>
</div>
<hr>
  <div class="realisation">
    <p>Réalisation: </p>
    <a href="https://www.sou-stendhal.fr" target="_blank">www.sou-stendhal.fr</a>
  </div>

</div>
