/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    /* top: 0;
    left: 0; */
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    
}

/* The sidebar links */
.link a {
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.realisation a {
    padding: 5px 8px 8px 30px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}
.realisation p {
    padding-left:30px;
    font-size: 30px;
    color: white;
    display: block;
}

.info{
    display: block;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}

.name{
    font-size: 25px;
}

img{
    size: 10px;
}

i{
    size: 50px;
}

hr{
    background-color: #818181;
}