.container{
    margin-left: 20%;
}
h1{
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.card{
    padding:10px;
    width: 20em;
    height: auto;
    margin-right: 100px;
    margin-bottom: 20px;
}