<app-navbar [person]="person"></app-navbar>

<div class="container">
  <h1>Mes Hobbies</h1>
  <div class="row justify-content-center">
    <div *ngFor="let hobby of hobbies">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="{{hobby.picture}}" alt="Card image">
          <div class="card-body text-center">
            <h4 class="card-title">{{hobby.name}}</h4>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>