<app-navbar [person]="person"></app-navbar>
<div class="container">
    <h1>Mes experiences</h1>
    <div class="card" *ngFor="let experience of experiences | descExperiences:'startingYear'">
        <h5 class="card-header text-white bg-primary text-center">{{experience.startingYear | date:"MM/yyyy"}} - {{experience.endYear | date:"MM/yyyy"}} : {{experience.title |uppercase}}</h5>
        <div class="card-body">
            <h4 class="card-title text-center text-primary">{{experience.company}}</h4>
            <p class="card-text"><b>role</b>  : {{experience.role | titlecase}}</p>
            <p class="card-text"><b>ville</b>  : {{experience.city}}</p>
            <p class="card-text"><b>details</b>  : {{experience.missionDetails}}</p>
            <!-- <p>{{experience.technos}}</p> -->
            <div *ngFor="let techno of experience.technos">
                <p> <b>technos</b> : {{techno.title}}</p>
            </div>
        </div>
    </div>
  <!-- <button class="btn btn-primary" (click)="goBack()">Retour</button> -->
</div>