<app-navbar [person]="person"></app-navbar>

<!-- <div class="loader col-lg-4 col-lg-offset-4">
  <app-loading *ngIf="loading"></app-loading>
</div> -->

<div class="container">
  <div class="col">
    <h1>Mes Compétences</h1>
  </div>
  <div class="row justify-content-center">
    <div *ngFor="let skill of skills">
      <!-- <app-canvas-chart [skill]="skill"></app-canvas-chart> -->
      <div class="col">
        <div class="container-skill">
          <div class="picture">
            <img src="{{skill.skillPicture}}" />
          </div>
          <div class="title-skill">
            <h3>{{skill.skillName | uppercase}} </h3>
          </div>
          <div class="row justify-content-center">
            <p>Niveau:</p>&nbsp;
            <div *ngFor="let nbStar of generateStarsArray(skill.level)">
              <i class="fas fa-star"></i>&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>