.container{
    margin-left:20%;
}
h1{
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.title-skill {
    margin-bottom: 10px;
    text-align: center;
  }
  

.container-skill {
    margin-left: 5%;
    margin-top: 20px;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 40px;
    display: block;
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 6px 6px 6px 6px #777;
    -moz-box-shadow: 6px 6px 6px 6px #777;
    box-shadow: 6px 6px 6px 6px #777;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  
  div .container-skill:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    position: relative;
    z-index: 3;
  }

  .picture img {
    width: 90%;
    height: auto;
    text-align: center;
    padding-bottom:20px;
  }
  