.big-container{
    margin-left: 25%;
  }
  .jumbotron{
    background-image:url(../../assets/images/world30.jpg);
    background-position: center;
  }

  a{
    text-decoration: none;
  }

  p{
    text-align: center;
  }
  .jumbotron p{
    font-size: 20px;
  }

  h2{
    font-size: 70px;
    text-align: center;
  }

  img{
    display : block;
    margin : auto;
    width: 50%;
    padding-top:2%;
  }

  h4{
    text-align: center;
  }

  .card{
    margin-bottom: 20px;
  }