<app-navbar [person]="person"></app-navbar>

<div *ngIf="person" class="container big-container">

  <div class="jumbotron jumbo">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>{{person.firstname |uppercase}} {{person.lastname |uppercase}}</h2>
          <p>{{person.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <a routerLink="/detail/{{person.id}}/experiences">
      <h5 class="card-header text-white text-center bg-primary">Mon Parcours</h5>
    </a>
    <img class="card-img-top" src="../../assets/images/labirynthe" alt="Card image labyrinthe">
    <div class="card-body text-primary">
      <h4 class="card-title">Du social au Web</h4>
      <p class="card-text">Après un DUT informatique, et huit années dans le social, me voila de retour dans le monde
        merveilleux du numérique.</p>
    </div>
  </div>
  <br>
  <div class="card">
    <a routerLink="/detail/{{person.id}}/education">
      <h5 class="card-header text-white bg-success text-center">Ma Formation</h5>
    </a>
    <img class="card-img-top" src="../../assets/images/formation.jpg" alt="Card image formation">
    <div class="card-body text-success">
      <h4 class="card-title ">Un DUT / un DE / un RNCP III / une école du dev</h4>
      <p class="card-text">Au cours de mes nombreuse vies, j'ai eu la chance d'obtenir plusieurs diplômes et/ou de
        suivre diverses formations assez variées.</p>
    </div>
  </div>
  <br>
  <div class="card">
    <a routerLink="/detail/{{person.id}}/skills">
      <h5 class="card-header text-white text-center bg-info ">Mes Compétences</h5>
    </a>
    <img class="card-img-top" src="../../assets/images/compétences.png" alt="Card image compétence">
    <div class="card-body text-info">
      <h4 class="card-title">Des compétences humaines et tehniques</h4>
      <p class="card-text">Ma double casquette de developpeur travailleur social et ma personnalité me permettent
        d'allier le technique à l'humain.</p>
    </div>
  </div>
  <br>
  <div class="card">
    <a routerLink="/detail/{{person.id}}/hobbies">
      <h5 class="card-header text-white text-center bg-danger">Mes hobbies</h5>
    </a>
    <img class="card-img-top" src="../../assets/images/hobbies.jpg" alt="Card image hobby">
    <div class="card-body text-danger">
      <h4 class="card-title">Plutôt sportif et grand air</h4>
      <p class="card-text">J'ai pratiqué et pratique plusieurs sports, j'aime la montagne et les sensations fortes.
        J'ai aussi beaucoup d'intéret pour la musique et le chant.
        Enfin, de plus en plus mes préoccupations et mes actions sont orientées vers une démarche "green" et zéro
        déchets.
      </p>
    </div>
  </div>

  <!-- <label>Nom de la personne choisie:
    <input [(ngModel)]="person.firstname" placeholder="firstname">
  </label>
    <button type="button" class="btn btn-info" (click)="update()">Modifier</button> -->

  <!-- <button type="button" class="btn btn-info" (click)="goBack()">Retour</button>
</div> -->

  <div *ngIf="!person">
    <p>Désolé cette personne n'exite pas!!</p>
  </div>