<app-navbar></app-navbar>
<div>
<h2>Liste de personnes</h2>
<ul class="personnes">
  <li *ngFor="let person of persons">
    <a routerLink="/detail/{{person.id}}"> 
      Personne n°{{person.id}} : {{person.firstname}}
    </a>
  </li>
</ul>
<!-- <button (click)="add()">Ajouter une personne</button> -->

</div>
<app-messages></app-messages>