<app-navbar [person]="person"></app-navbar>
<div class="container">
    <h1>Mes Formations</h1>
    <div class="card" *ngFor="let education of educations |descEducation">
        <h5 class="card-header text-white bg-success text-center">{{education.beginingYear | date:"MM/yyyy"}} - {{education.obtentionYear | date:"MM/yyyy"}} : {{education.name |uppercase}}</h5>
        <div class="card-body">
            <h4 class="card-title"><b>ville</b>  : {{education.city}}</h4>
            <p class="card-text"><b>details</b>  : {{education.details}}</p> 
        </div>
    </div>
  <!-- <button class="btn btn-primary" (click)="goBack()">Retour</button> -->
</div>