<div *ngFor="let person of persons" class="container">
  <h3>{{person.firstname}}  {{person.lastname}}</h3>
  
      <a routerLink="/detail/{{person.id}}"> 
        <img src="{{person.profilPicture}}" alt="photo de profil">
      </a>
      <h4>{{person.jobTitle}}</h4>
</div>



