h3{
    color: rgb(7, 104, 104);
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    padding-top: 3%;
    padding-bottom: 15%;
}
h4{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    opacity: 0.2;
    padding-top: 15%;
    padding-bottom: 10%;
}
a{
    padding-top: 10%;
    padding-bottom: 15%;
}

img{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
